body {
  background-color: black;
}

header img {
  width: 50%;
}

header {
  text-align: center;
}

section {
  font-size: 1.5rem;
  color: antiquewhite;
}

p {
  text-justify: inter-word;
}

.intro {
  font-size: 1rem;
  color: aliceblue;
}
.champagne-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: black;
  width: 8rem;
  text-align: center;
}

.card-title {
  font-size: 1rem;
  color: aliceblue;
}

.modal-bottle-img {
  width: 12rem;
}

.compo-img {
  width: 5rem;
}

.modal-body p {
  font-size: 0.8rem;
}
