body {
  background-color: black;
}

header img {
  width: 50%;
}

header {
  text-align: center;
}

.intro {
  font-size: 1rem;
  color: aliceblue;
}
.champagne-cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: black;
  width: 8rem;
  text-align: center;
}

.card-title {
  font-size: 1rem;
  color: aliceblue;
}

.modal-bottle-img {
  width: 14rem;
}

.compo-img {
  width: 6rem;
}

.modal-body p {
  font-size: 0.8rem;
}
